*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
font-family: 'Titillium Web', sans-serif;
text-rendering: optimizeLegibility;
}

:focus{
    outline: 0;
}
ul{margin: 0;
padding: 0;}
li{list-style: none;}